[Unit]
Description=Central PostgreSQL logical dump
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/opt/docker/bin/postgres-logical-dump
